
/* about info styling */
.about-info .info-left{
    float: left;
    width: 40%;
    min-height: 100%;
}

.about-info .info-right{
    float: right;
    width: 60%;
    min-height: 100%;
}
.about-info .info-right img {
    width: 100%;
    height: auto;
    float: right;
    padding-bottom: 25px;
}
.info-right, .info-left{
    padding: 15px 0px;
}
/* testimonials */
.testimonials{
    background: url('../images/test-bg.jpg') no-repeat center center/cover ;
    padding: 15px;
}
.testimonials h2{
    text-align: center;
    color: white;
}
.testimonial{
    margin: 15px;
    padding: 10px;
    border-radius: 6px;
    opacity: 0.9;
}
.testimonial img{
    width: 100px;
    float: left;
    margin-right: 15px;
    border-radius: 6px;
}