input,textarea{
    width: 90%;
}
.form-group input, .form-group textarea{
    padding: 5px;
    margin-bottom: 5px;
    border: 1px #ddd;
}
.form-group textarea{
    height: 200px;
}
.form-group input:focus, .form-group textarea:focus, .btn:focus{
    outline: none;
    border: 3px #ddd;
}
.contact-info{
    padding-top: 10px;
}